[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "dash>=4.0.0",
    "dash-bootstrap-components>=2.0.4",
    "numpy>=2.4.2",
    "pandas>=3.0.1",
    "plotly>=6.5.2",
]
